@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --red: #e53154;
  --red2: #f95050;
  --orange: #fe9458;
  --black: #333333;
  --black2: #000000;
  --white: #ffffff;
  --white2: #faf8f8;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  background: var(--white2);
}

/* HEADER */
.head {
  background: var(--white2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  height: 12vh;
}

.head > * {
  margin-right: 3rem;
}

.head > *:last-child {
  margin-right: 0rem;
}

.headinfo a {
  text-decoration: none;
  color: var(--red);
  transition: all 0.4s ease;
  font-weight: 700;
  margin-right: 2rem;
}

.headinfo a:last-child {
  margin-right: 2rem;
}

.headinfo a:hover {
  transition: all 0.4s ease;
  color: var(--black);
}

/* LOGIN */
.loginpage {
  min-height: 98vh;
  width: 100%;
  background: var(--white2);
}

.formwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.login {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--black2);
  border-top-right-radius: 2rem;
}

.formlogowrapper {
  padding: 1rem 0rem;
}

.login input {
  height: 6vh;
  font-size: 1.4rem;
  margin: 0.4rem 0rem;
  background: var(--red);
  padding: 0.4rem;
  outline: none;
  border: none;
  color: var(--white);
  transition: all 0.4s ease;
  font-weight: 700;
}

.login input:hover {
  background: var(--red2);
  transition: all 0.4s ease;
}

.login input::placeholder {
  color: var(--white);
}

.login-title {
  color: var(--red);
  padding: 1rem 0rem;
}

.loginregister {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.loginregister a {
  text-decoration: none;
  color: var(--white2);
}

/* HOME PAGE */

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "foods aside";
  background: var(--white2);
  min-height: 100vh;
}

@media (max-width: 800px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "foods"
      "aside";
  }
}

.foods {
  grid-area: foods;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.food {
  max-width: 100%;
  margin: 1rem;
}

.food__btm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--red);
  color: var(--white2);
  padding: 0.5rem;
}

.food__btm button {
  padding: 0.8rem;
  background: var(--red);
  border: none;
  outline: none;
  transition: all 0.4s ease;
  color: var(--white2);
}
.food__btm button a {
  display: inline-block;
  color: var(--white2);
}

.food__btm button:hover {
  transition: all 0.4s ease;
  cursor: pointer;
  background: var(--red2);
}

.food__img img {
  border-top-right-radius: 2rem;
}

.aside {
  grid-area: aside;
  margin: 2rem;
}

.foodoftheday {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--red);
}

.foodoftheday img {
  border-radius: 50%;
}

.foodoftheday a {
  text-decoration: none;
  color: var(--red);
  transition: all 0.4s ease;
}

.foodoftheday a:hover {
  color: var(--black);
  transition: all 0.4s ease;
}

.foodoftheday > * {
  margin-bottom: 2rem;
}

/* FOOD PAGE */
.foodpage {
  min-height: 80vh;
  background: var(--white2);
}

.singlefood {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.foodmid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.foodmidimg img {
  max-width: 512px;
}
.foodmidexp {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.4rem;
}

.explanator {
  color: var(--red);
  font-size: 0.8rem;
}

.inputgroup {
  display: flex;
  flex-direction: column;
}

.inputgroup input {
  width: 128px;
  font-size: 1.3rem;
}

.addtocart button {
  background: var(--red);
  padding: 0.7rem;
  width: 256px;
  color: var(--white2);
  font-weight: 700;
  border: none;
  outline: none;
  transition: all 0.4s ease;
}

.addtocart button:hover {
  transition: all 0.4s ease;
  background: var(--red2);
  cursor: pointer;
}

@media (max-width: 1100px) {
  .foodmid {
    grid-template-columns: 1fr;
  }
  .foodmidexp {
    min-height: 50vh;
  }
}

/* FOOTER */

.footer {
  height: 12vh;
  background: var(--red);
  color: var(--white2);
  display: flex;
  justify-content: center;
  align-items: center;
}
